@tailwind base;
@tailwind components;

@font-face {
  font-family: "FiraCodeLight";
  src: url(./fonts/FiraCode-Light.ttf);
}

@font-face {
  font-family: "FiraCodeMedium";
  src: url(./fonts/FiraCode-Medium.ttf);
}

@font-face {
  font-family: "FiraCodeBold";
  src: url(./fonts/FiraCode-Bold.ttf);
}

@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
