@tailwind base;
@tailwind components;

@font-face {
  font-family: "BalsamiqReqular";
  src: url(./fonts/BalsamiqSans-Regular.ttf);
}

@font-face {
  font-family: "BalsamiqBold";
  src: url(./fonts/BalsamiqSans-Bold.ttf);
}

@font-face {
  font-family: "FiraCodeLight";
  src: url(./fonts/FiraCode-Light.ttf);
}

@font-face {
  font-family: "FiraCodeMedium";
  src: url(./fonts/FiraCode-Medium.ttf);
}

@font-face {
  font-family: "FiraCodeBold";
  src: url(./fonts/FiraCode-Bold.ttf);
}

@tailwind utilities;

